/* CSS des icones et de la photo */

/* Classe */

.etoile {
    text-align: right;
    flex-basis: 70%;
}

.etoile > img {
    color: #17abb3;
    height: 20px;
    width: 20px;
    margin-bottom: -17px;
}

/* ID */

#adresse-icon {
    color: #ffffff;
    height: 20px;
    width: 20px;
}

#email-icon {
    color: #ffffff;
    height: 20px;
    width: 20px;
}

#github {
    color: #ffffff;
    margin: auto;
    height: 20px;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#github:hover {
    opacity: 0.7;
}

#instagram {
    color: #ffffff;
    margin: auto;
    height: 20px;
    width: 20px;
    padding-left: 5px;
}

#instagram:hover {
    opacity: 0.7;
}

#linkedin {
    color: #ffffff;
    margin: auto;
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

#linkedin:hover {
    opacity: 0.7;
}

#reseaux {
    margin-bottom: -5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#permis-icon {
    color: #ffffff;
    height: 20px;
    width: 20px;
}

#photo {
    border: #ffffff solid 5px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    cursor: zoom-in;
}

#tel-icon {
    color: #ffffff;
    height: 20px;
    width: 20px;
}